---
import Analytics from "@vercel/analytics/astro"
import SpeedInsights from "@vercel/speed-insights/astro"

import "@/styles/global.css"
import { useTranslation } from "@/i18n"

const lang = Astro.params.lang
const t = useTranslation(lang as "es" | "en")
---

<html lang={lang}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			rel="icon"
			href="/favicon.svg"
			type="image/svg+xml"
			media="(prefers-color-scheme: light)"
		/>
		<link
			rel="icon"
			href="/favicon-white.svg"
			type="image/svg+xml"
			media="(prefers-color-scheme: dark)"
		/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{t.generals.title}</title>
		<meta
			name="description"
			content={t.hero.text.replaceAll(
				"{{YEARS}}",
				(new Date().getFullYear() - 2013).toString()
			)}
		/>
		<meta name="author" content="Raymundo Salazar" />
		<meta
			name="keywords"
			content="Raymundo Salazar, portfolio, developer, fullstack, javascript, ui/ux, designer"
		/>
		<meta name="robots" content="index, follow" />
		<meta name="language" content={lang} />
		<link rel="alternate" href="https://raymundosalazar.dev/es" hreflang="es" />
		<link rel="alternate" href="https://raymundosalazar.dev/en" hreflang="en" />
		<link rel="alternate" href="https://raymundosalazar.dev" hreflang="x-default" />
		<meta name="og:title" content={t.generals.title} />
		<meta
			name="og:description"
			content={t.hero.text.replaceAll(
				"{{YEARS}}",
				(new Date().getFullYear() - 2013).toString()
			)}
		/>
		<meta name="og:type" content="website" />
		<meta name="og:url" content="https://raymundosalazar.dev/" />
		<meta name="og:image" content="/og-image.webp" />
		<meta name="twitter:card" content="summary_large_image" />
		<Analytics />
	</head>
	<body class="bg-neutral-900">
		<div class="min-h-screen">
			<slot />
		</div>
		<SpeedInsights />
	</body>
</html>
